.about-me-box {
    position: relative;
    top: 40px;
    left: 50px;
}

.about-me-front {
    background-color: #FDF5EE;
    height: 300px;
    width: 550px;
    overflow: hidden;
    position: relative;
    top: 30px;
    left: 45px;
    padding: 30px;
    font-weight: bold;
}

.about-me-back {
    background-color: #F6C6A9;
    height: 300px;
    width: 550px;
    position: absolute;
}