@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

* {
  box-sizing: border-box;
  font-family: 'Anonymous Pro', monospace;  
  color: #67605F;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}
